footer#footer
  .container
    .row
      .col-sm-3.col-md-3.col-lg-3
        .footer__title
          img(src='../images/list-yellow.png' alt='list')
          h2 VỀ CHÚNG TÔI
        p
          | Công ty Cổ phẩn Công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử. 
        .footer__map
          span.icon-location
          p
            | Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cấn Ba Đình - Hà Nội
        .footer__email
          span.icon-envelope
          p support@dkt.com.vn
        .footer__phone
          span.icon-mobile
          p (84-4) 66558868  -  (84-4) 37868904
      .col-sm-2.col-md-2.col-lg-2
        .footer__title
          img(src='../images/list-yellow.png' alt='list')
          h2 CHÍNH SÁCH
        ul
          li
            a(href='#') Chính sách giao hàng
          li
            a(href='#') Chính sách đổi sản phẩm
          li
            a(href='#') Chính sách bảo hành
          li
            a(href='#') Chính sách trả góp
          li
            a(href='#') Giới thiệu hàng đổi trả
          li
            a(href='#') Vận chuyển miễn phí
      .col-sm-2.col-md-2.col-lg-2
        .footer__title
          img(src='../images/list-yellow.png' alt='list')
          h2 DỊCH VỤ&HỖ TRỢ
        ul
          li
            a(href='#') Hệ thống cửa hàng
          li
            a(href='#') Hướng dẫn mua hàng
          li
            a(href='#') Hướng dẫn thanh toán
          li
            a(href='#') Tích điểm đổi thưởng
          li
            a(href='#') Dịch vụ đổi trả hàng
          li
            a(href='#') Câu hỏi thường gặp
      .col-sm-5.col-md-5.col-lg-5
        .row
          .col-sm-6.col-md-6.col-lg-6
            .footer__title
              img(src='../images/list-yellow.png' alt='list')
              h2 TIN TỨC - SỰ KIỆN
            ul
              li
                a(href='#') Tin tức mới nhất
              li
                a(href='#') Tin tức khuyến mãi
              li
                a(href='#') Tuyển dụng , đãi ngộ
              li
                a(href='#') Download tài liệu
              li
                a(href='#') Chương trình đối tác
              li
                a(href='#') Nhà phát triển ứng dụng
          .col-sm-6.col-md-6.col-lg-6
            .footer__title
              img(src='../images/list-yellow.png' alt='list')
              h2 KẾT NỐI
            ul
              li
                a(href='#')
                  span.icon-facebook
                  |  Facebook
              li
                a(href='#')
                  span.icon-twitter
                  |  Twitter
              li
                a(href='#')
                  span.icon-google-plus
                  |  Google
              li
                a(href='#')
                  span.icon-skype
                  |  Skype
              li
                a(href='#')
                  span.icon-instagram
                  |  Instagram
    .divider
    .row
      .col-sm-6.col-md-6.ol-lg-6
        h3 Thanh toán
        p
          span
            a(href='#')
              img(src='../images/bank-1.png' alt='')
          span
            a(href='#')
              img(src='../images/bank-2.png' alt='')
          span
            a(href='#')
              img(src='../images/bank-3.png' alt='')
          span
            a(href='#')
              img(src='../images/bank-4.png' alt='')
        p
          span
            a(href='#')
              img(src='../images/bank-5.png' alt='')
          span
            a(href='#')
              img(src='../images/bank-6.png' alt='')
          span
            a(href='#')
              img(src='../images/bank-7.png' alt='')
          span
            a(href='#')
              img(src='../images/bank-8.png' alt='')
      .col-sm-6.col-md-6.ol-lg-6
        h3 Giải đáp nhanh:
        .row
          .col-sm-6.col-md-6.ol-lg-6
            .footer__advisory
              span.icon-phone1
              .footer__advisory__phone
                p Tư vấn miễn phí (24/7)
                p 1900 650 650
          .col-sm-6.col-md-6.ol-lg-6
            .footer__chat
              span.icon-wechat
              .footer__chat__phone
                p Góp ý - phản hồi - thắc mắc
                p 1900 650 650
  .footer__down
    .container
      .row
        .col-sm-6.col-md-6.ol-lg-6
          p
            | Bản quyền thuộc về 
            span Design Team
            | . Phát triển bởi
            span Bizweb
        .col-sm-6.col-md-6.ol-lg-6
          .footer__down__menu
            ul
              li
                a(href='#') Trang chủ
              li
                a(href='#') Giới thiệu
              li
                a(href='#') Sản phẩm
              li
                a(href='#') Tin khuyến mãi
              li
                a(href='#') Dịch vụ
              li
                a(href='#') Liên hệ