.section-3
  .section-3__title
    .section-3__title__product
      img(src='../images/list-yellow.png' alt='list')
      h2 Sẩn phẩm mới
    .section-3__title__right
      .section-3__title__menu
        ul
          li
            a(href='#') Mấy khoan
          li
            a(href='#') Mấy in 3D
          li
            a(href='#') Mấy CNC
          li
            a(href='#') Mấy tiện
          li
            a(href='#') Mấy khác
      .section-3__title__button
        span.icon-triangle-left
        span.icon-triangle-right       
  .row
    .col-sm-4.col-md-4.col-lg-4
      .section-3__card
        .section-3__card__img
          img(src='../images/sc3-product-1.png' alt='')
        .section-3__card__content
          p 1.550.000 Đ;
          p MẤY KHOAN BLACK DECKER
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
        .section-3__card__button
          a(href='#') MUA NGAY
          a(href='#') XEM CHI TIẾT
    .col-sm-4.col-md-4.col-lg-4
      .section-3__card
        .section-3__card__img
          img(src='../images/product-3.png' alt='')
        .section-3__card__content
          p 1.550.000 Đ
          p MẤY KHOAN BLACK DECKER
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
        .section-3__card__button
          a(href='#') MUA NGAY
          a(href='#') XEM CHI TIẾT
    .col-sm-4.col-md-4.col-lg-4
      .section-3__card
        .section-3__card__img
          img(src='../images/sc3-product-3.png' alt='')
        .section-3__card__content
          p 1.550.000 Đ
          p MẤY KHOAN BLACK DECKER
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
        .section-3__card__button
          a(href='#') MUA NGAY
          a(href='#') XEM CHI TIẾT