section#section
  .container
    include section-sldier
    include section-hot-product
    include section-new-product
    include section-banner-mid
    include section-selling-product
    include section-banner-2
    include section-new-products
  include section-brand
  include section-newsletter