.section-7
  .section-7__title
    .section-7__title__product
      img(src='../images/list-yellow.png' alt='list')
      h2 Hàng mới về
    .section-7__title__button
      span.icon-triangle-left
      span.icon-triangle-right
  .row
    .col-sm-6.col-md-6.col-lg-6
      .section-7__card
        .section-7__card__img
          img(src='../images/new-product.png' alt='')
        include section-7__card__content
    .col-sm-6.col-md-6.col-lg-6
      .section-7__card
        .section-7__card__img
          img(src='../images/product-2.png' alt='')
        .section-7__card__content
          p MẤY KHOAN CNC 3D
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...
          p 1.550.000 Đ
          .section-7__card__button
            a(href='#') MUA NGAY
            a(href='#') XEM CHI TIẾT
  .row
    .col-sm-6.col-md-6.col-lg-6
      .section-7__card
        .section-7__card__img
          img(src='../images/product-3.png' alt='')
        .section-7__card__content
          p MẤY KHOAN CNC 3D
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...
          p 1.550.000 Đ
          .section-7__card__button
            a(href='#') MUA NGAY
            a(href='#') XEM CHI TIẾT
    .col-sm-6.col-md-6.col-lg-6
      .section-7__card
        .section-7__card__img
          img(src='../images/product-4.png' alt='')
        .section-7__card__content
          p MẤY KHOAN CNC 3D
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...
          p 1.550.000 Đ
          .section-7__card__button
            a(href='#') MUA NGAY
            a(href='#') XEM CHI TIẾT