.section-8
    .container
      .section-8__slider
        a(href='#')
          span.icon-triangle-left
        a(href='#')
          img(src='../images/brand-1.png' alt='')
        a.hidden(href='#')
          img(src='../images/brand-2.png' alt='')
        a.hidden(href='#')
          img(src='../images/brand-3.png' alt='')
        a.hidden(href='#')
          img(src='../images/brand-4.png' alt='')
        a.hidden(href='#')
          img(src='../images/brand-5.png' alt='')
        a(href='#')
          span.icon-triangle-right