.section-1
  .row
    .col-sm-8.col-md-8.col-lg-8
      .section-1__slider
        .section-1__slider__content
          h1 Máy khoan đa năng
          h2 Dewalt
          ul
            li
              span.icon-checkmark
              | Thiết kế nhỏ ngọn, phù hợp, đa mục đích
            li
              span.icon-checkmark
              | Mạnh mẽ, bền bĩ và hiệu suất lớn hơn
            li
              span.icon-checkmark
              | Khoan cắt với độ chính xác tuyệt đối
          .button
            a(href='#') Đặt hàng
        .section-1__slider__images
          img(src='../images/perforator-gray.png' alt='perforator')
      .section-1__bt-slider
        a(href='#')
        a(href='#')
        a(href='#')
    .col-sm-4.col-md-4.col-lg-4
      .section-1__list
        .row
          .col-sm-12.col-md-12.col-lg-12
            .section-1__list__1
              span.icon-plane
              .section-1__list__1__content
                h1 MIỄN PHÍ VẬN CHUYỂN
                p Chúng tôi vận chuyển miễn phí với các đơn hàng trị giá trên 1000.000 Đ.
          .col-sm-12.col-md-12.col-lg-12
            .section-1__list__1
              span.icon-location
              .section-1__list__1__content
                h1 CHÍNH SÁCH ĐỔI TRẢ
                p Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên.
          .col-sm-12.col-md-12.col-lg-12
            .section-1__list__1
              span.icon-gift
              .section-1__list__1__content
                h1 KHUYẾN MẠI HÀNG TUẦN
                p Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.
          .col-sm-12.col-md-12.col-lg-12
            .section-1__list__1
              span.icon-like
              .section-1__list__1__content
                h1 CAM KẾT HÀNG CHÍNH HÃNG
                p Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.