.section-2
  .section-2__title
    .section-2__title__product
      img(src='../images/list-yellow.png' alt='list')
      h2 Sản phẩm nối bật
    .section-2__title__button
      span.icon-triangle-left
      span.icon-triangle-right
  .row
    .col-sm-3.col-md-12.col-lg-3
      include product
    .col-sm-9.col-md-12.col-lg-9
      .row
        .col-sm-4.col-md-4.col-lg-4
          .section-2__card
            .section-2__card__img
              img(src='../images/product-1.png' alt='')
            .section-2__card__content
              p 1.550.000 Đ
              p MẤY KHOAN BLACK DECKER
              p
                span.icon-star-full
                span.icon-star-full
                span.icon-star-full
                span.icon-star-full
                span.icon-star-empty
                | (12 đánh giá)
            .section-2__card__button
              a(href='#') MUA NGAY
              a(href='#') XEM CHI TIẾT
        .col-sm-4.col-md-4.col-lg-4
          .section-2__card
            .section-2__card__img
              img(src='../images/product-2.png' alt='')
            .section-2__card__content
              p 1.550.000 Đ
              p MẤY KHOAN BLACK DECKER
              p
                span.icon-star-full
                span.icon-star-full
                span.icon-star-full
                span.icon-star-full
                span.icon-star-empty
                | (12 đánh giá)
            .section-2__card__button
              a(href='#') MUA NGAY
              a(href='#') XEM CHI TIẾT
        .col-sm-4.col-md-4.col-lg-4
          .section-2__card
            .section-2__card__img
              img(src='../images/product-3.png' alt='')
            .section-2__card__content
              p 1.550.000 Đ
              p MẤY KHOAN BLACK DECKER
              p
                span.icon-star-full
                span.icon-star-full
                span.icon-star-full
                span.icon-star-full
                span.icon-star-empty
                | (12 đánh giá)
            .section-2__card__button
              a(href='#') MUA NGAY
              a(href='#') XEM CHI TIẾT
      .mt
        .row
          .col-sm-4.col-md-4.col-lg-4
            .section-2__card
              .section-2__card__img
                img(src='../images/product-4.png' alt='')
              .section-2__card__content
                p 1.550.000 Đ
                p MẤY KHOAN BLACK DECKER
                p
                  span.icon-star-full
                  span.icon-star-full
                  span.icon-star-full
                  span.icon-star-full
                  span.icon-star-empty
                  | (12 đánh giá)
              .section-2__card__button
                a(href='#') MUA NGAY
                a(href='#') XEM CHI TIẾT
          .col-sm-4.col-md-4.col-lg-4
            .section-2__card
              .section-2__card__img
                img(src='../images/product-5.png' alt='')
              .section-2__card__content
                p 1.550.000 Đ
                p MẤY KHOAN BLACK DECKER
                p
                  span.icon-star-full
                  span.icon-star-full
                  span.icon-star-full
                  span.icon-star-full
                  span.icon-star-empty
                  | (12 đánh giá)
              .section-2__card__button
                a(href='#') MUA NGAY
                a(href='#') XEM CHI TIẾT
          .col-sm-4.col-md-4.col-lg-4
            .section-2__card
              .section-2__card__img
                img(src='../images/product-6.png' alt='')
              .section-2__card__content
                p 1.550.000 Đ
                p MẤY KHOAN BLACK DECKER
                p
                  span.icon-star-full
                  span.icon-star-full
                  span.icon-star-full
                  span.icon-star-full
                  span.icon-star-empty
                  | (12 đánh giá)
              .section-2__card__button
                a(href='#') MUA NGAY
                a(href='#') XEM CHI TIẾT