.section-5
  .section-5__title
    .section-5__title__product
      img(src='../images/list-yellow.png' alt='list')
      h2 Sản phẩm mới
    .section-5__title__right
      .section-5__title__menu
        ul
          li
            a(href='#') Mấy khoan
          li
            a(href='#') Mấy in 3D
          li
            a(href='#') Mấy CNC
          li
            a(href='#') Mấy tiện
          li
            a(href='#') Mấy khác
      .section-5__title__button
        span.icon-triangle-left
        span.icon-triangle-right
  .row
    .col-sm-3.col-md-12.col-lg-3
      .section-5__card
        .section-5__card__img
          img(src='../images/sc3-product-1.png' alt='')
        .section-5__card__content
          p 1.550.000 Đ
          p MẤY KHOAN BLACK DECKER
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
        .section-5__card__button
          a(href='#') MUA NGAY
          a(href='#') XEM CHI TIẾT
      .mt
      .section-5__card
        .section-5__card__img
          img(src='../images/sc3-product-1.png' alt='')
        .section-5__card__content
          p 1.550.000 Đ
          p MẤY KHOAN BLACK DECKER
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
        .section-5__card__button
          a(href='#') MUA NGAY
          a(href='#') XEM CHI TIẾT
    .col-sm-6.col-md-12.col-lg-6
      .section-5__card
        .section-5__card__img.section-5__card__img-2
          img(src='../images/perforator.png' alt='')
        .section-5__card__content
          p 1.550.000 Đ
          p MẤY KHOAN BLACK DECKER
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
        .section-5__card__button
          a(href='#') MUA NGAY
          a(href='#') XEM CHI TIẾT
    .col-sm-3.col-md-12.col-lg-3
      .section-5__card
        .section-5__card__img
          img(src='../images/sc3-product-1.png' alt='')
        .section-5__card__content
          p 1.550.000 Đ
          p MẤY KHOAN BLACK DECKER
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
        .section-5__card__button
          a(href='#') MUA NGAY
          a(href='#') XEM CHI TIẾT
      .mt
      .section-5__card
        .section-5__card__img
          img(src='../images/sc3-product-1.png' alt='')
        .section-5__card__content
          p 1.550.000 Đ
          p MẤY KHOAN BLACK DECKER
          p
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-full
            span.icon-star-empty
            | (12 đánh giá)
        .section-5__card__button
          a(href='#') MUA NGAY
          a(href='#') XEM CHI TIẾT