#section{
  @include margin(0,0,100px,0);
  .section__content{
    @extend %center-2;
    @include margin(128px,0,0,0);
    p:nth-child(1n){
      color:$color-yellow;
      @include font-size(100px);
      @include font-weight;
    }
    @media screen and (max-width:767px){
      p:nth-child(1n){
        @include font-size(76px);
      }
    }
    p:nth-child(2n){
      color:$color-black;
      @include font-size(18px);
      @include font-weight;
      @include margin(0,0,30px,0);
    }
    a{
      @extend %button-product;
      @include font-size(14px);
    }
  }
  .section__images{
    @include margin(93px,0,0,0);
    @extend %center-2;
  }
}
