@mixin border-style($border-width,$border-style,$border-color){
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
}
@mixin border-radius($border-top,$border-right,$border-bottom,$border-left){
  border-top: $border-top;
  border-right: $border-right;
  border-bottom: $border-bottom;
  border-left: $border-left;
}

@mixin border-radius-short($property){
  border-radius: $property;
}

@mixin bt-slider{
  @include padding-short(7px);
  @include border-style(1px,solid,$color-black);
}
