$color-yellow:#f5bd10;
$color-gray:#f7f7f7;
$color-white:white;
$color-icon:#363636;
$color-border:#e1e1e1;
$color-black:#202020;
$color-black-2:#111111;
$color-black-3:#7c7c7c;
$color-black-4:#252525;
$color-gray-2:#acacac;
$color-gray-3:#f5f5f5;
$color-gray-4:#a1a1a1;
$color-gray-5:#adadad;
$color-gray-6:#eaeaea;
$color-gray-7:#9c9c9c;
$color-red:red;
$color-blue:#0685ca;

