.section-blog-details__comments
  h2 BÌNH LUẬN:
  .section-blog-details__comments__card
    .section-blog-details__comments__card__images
      img(src="../images/person.png", alt="")
    .section-blog-details__comments__card__content
      h3 HOANG TRUONG ANH
      p 
        span Thứ năm, ngày 23/10/2015 8:30
        span
          a(href="#") Trả lời
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  .section-blog-details__comments__card.section-blog-details__comments__card__nested
    .section-blog-details__comments__card__images
      img(src="../images/person.png", alt="")
    .section-blog-details__comments__card__content
      h3 HOANG TRUONG ANH
      p 
        span Thứ năm, ngày 23/10/2015 8:30
        span
          a(href="#") Trả lời
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae...
  .section-blog-details__comments__card
    .section-blog-details__comments__card__images
      img(src="../images/person.png", alt="")
    .section-blog-details__comments__card__content
      h3 HOANG TRUONG ANH
      p 
        span Thứ năm, ngày 23/10/2015 8:30
        span
          a(href="#") Trả lời
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
