.section-blog__list-new
  ul
    li
      a(href='#')
        span.icon-grid1
        | DANH MỤC TIN TỨC
    li
      a(href='#')
        | Đời sống pháp luật (5)
    li
      a(href='#')
        | Kinh tế trong nước (8)
    li
      a(href='#')
        | Sức khỏe và gia đình (9)
    li
      a(href='#')
        | Công nghệ thông tin (5)
    li
      a(href='#')
        | Tin tức khác (12)