.section-blog__library-images
  .section-blog__library-images__title
    span.icon-grid1
    | THƯ VIỆN HÌNH ẢNH
  ul
    li
      a(href='#')
        img(src="../images/sc3-product-3.png", alt="" width="83px" height="83px")
    li
      a(href='#')
        img(src="../images/product-7.png", alt="" width="83px" height="83px")
    li
      a(href='#')
        img(src="../images/new-product.png", alt="" width="83px" height="83px")
    li
      a(href='#')
        img(src="../images/product-1.png", alt="" width="83px" height="83px")
    li
      a(href='#')
        img(src="../images/product-2.png", alt="" width="83px" height="83px")
    li
      a(href='#')
        img(src="../images/sc3-product-3.png", alt="" width="83px" height="83px")