.section-blog__contents
  include section-blog__contents__top
  include section-blog__contents__center
  include section-blog__contents__center-2
  include section-blog__contents__bottom
  include section-blog__contents__button