.section-blog__tags
  .section-blog__tags__title
    span.icon-grid1
    | TAGS
  ul
    li
      a(href='#')
       | Thời trang
    li
      a(href='#')
       | Máy khoan
    li
      a(href='#')
       | News
    li
      a(href='#')
       | Công nghệ
    li
      a(href='#')
       | Xây dựng
    li
      a(href='#')
       | Phay
    li
      a(href='#')
       | Máy cắt
    li
      a(href='#')
       | Hóa chất