section#section
  .container
    .section-top
      span
        a(href='#') Trang chủ
      span.icon-triangle-right
      span
        a(href='#') Giỏ hàng
    .product
      table.product__table
        thead
          tr
            th STT
            th SẢN PHẨM
            th THÔNG TIN
            th ĐƠN GIÁ
            th SỐ LƯỢNG
            th THÀNH TIỀN
            th XÓA
        tbody
          tr
            td 1
            td 
              img(src="../images/new-product.png", alt="product")
            td Máy khoan, cắt đa năng CNC
            td 2.350.00 Đ
            td 
              input(type="number" name="number")
            td 2.350.00 Đ
            td 
              button.close(type="button") &times;
          tr
            td 2
            td 
              img(src="../images/product-8.png", alt="product")
            td Máy khoan, cắt đa năng CNC
            td 2.350.00 Đ
            td 
              input(type="number" name="number")
            td 2.350.00 Đ
            td 
              button.close(type="button") &times;
          tr
            td 3
            td 
              img(src="../images/product-2.png", alt="product")
            td Máy khoan, cắt đa năng CNC
            td 2.350.00 Đ
            td 
              input(type="number" name="number")
            td 2.350.00 Đ
            td 
              button.close(type="button") &times;
    .price
      table
        tr
          td.price__text TỔNG TIỀN:
          td.price__number 6.850.000 Đ
        tr
          td.price__text THUẾ (VAT):
          td.price__number 6.850.000 Đ
        tr
          td.price__text THANH TOÁN:
          td.price__number.price__number-color 7.520.000 Đ
    .group-button
      a(href="#") TIẾP TỤC MUA HÀNG
      a(href="#") THANH TOÁN
