.section-2__product
  ul
    li
      a(href='#')
        span.icon-paint-brush
        | TÌM THEO MÀU SẮC
    li
      a(href='#')
        span.icon-cube.red
        | Màu đỏ (45)
    li
      a(href='#')
        span.icon-cube.yellow
        | Màu vàng (32)
    li
      a(href='#')
        span.icon-cube.blue
        | Màu xanh (27)
    li
      a(href='#')
        span.icon-cube.gray
        | Màu bạc (27)
    li
      a(href='#')
        span.icon-cube.black
        | Màu đen (9)