.section-2__product
  ul
    li
      a(href='#')
        span.icon-menu
        | DANH MỤC SẢN PHẨM
    li
      a(href='#')
        span.icon-th-large
        | Máy in phun khổ lớn
    li
      a(href='#')
        span.icon-th-large
        | Máy quét Canon 3D
    li
      a(href='#')
        span.icon-th-large
        | Máy hàn điện Alunima
    li
      a(href='#')
        span.icon-th-large
        | Máy khoan Decameta
    li
      a(href='#')
        span.icon-th-large
        | Máy phay đa năng CNC
    li
      a(href='#')
        span.icon-th-large
        | Máy mài, tiện DC 12V
    li
      a(href='#')
        span.icon-th-large
        | Máy khoan, cắt CNC
    li
      a(href='#')
        span.icon-th-large
        | Máy quay thông minh N3
    li
      a(href='#')
        span.icon-th-large
        | Motor R34C đa dụng
    li
      a(href='#')
        span.icon-th-large
        | Máy in aser màu 3D