.section-2__upper
	.section-2__upper__sort
		p Sắp xếp theo:
		select
			option(value='product') Tên sản phẩm
			option(value='random') random
			option(value='price') Giá
	.section-2__upper__number
		p Show:
		select
			option(value='1') 1
			option(value='2') 2
			option(value='3') 3
	.section-2__upper__icon
		span.icon-menu
		span.icon-th