.section-2__product-list-4
  ul
    li
      a(href='#')
        span.icon-gift
        | Sản phẩm khuyến mãi
    li
      a(href='#')
        img(src='../images/product-1.png' alt='' width="74px" height="53px")
        include section-2__product-list-4__content
    li  
      a(href='#')
        img(src='../images/new-product.png' alt='' width="74px" height="53px")
        include section-2__product-list-4__content
    li  
      a(href='#')
        img(src='../images/product-4.png' alt='' width="74px" height="53px")
        include section-2__product-list-4__content
    li
      a(href='#')
        img(src='../images/product-5.png' alt='' width="74px" height="53px")
        include section-2__product-list-4__content
    li
      a(href='#')
        img(src='../images/product-3.png' alt='' width="74px" height="53px")
        include section-2__product-list-4__content
    