.section-2
	.row
		.col-sm-3.col-md-3.col-lg-3
			include section-2__product-list-1
			include section-2__product-list-2
			include section-2__product-list-3
			include section-2__product-list-4
		.col-sm-9.col-md-9.col-lg-9
			include section-2__upper
			include section-2__card