.section-2__product
  ul
    li
      a(href='#')
        span.icon-credit
        | TÌM THEO MỨC GIÁ
    li
      a(href='#')
        span.icon-th-large
        | 0 - 200.000 Đ (45)
    li
      a(href='#')
        span.icon-th-large
        | 200.000 Đ - 500.000 Đ (32)
    li
      a(href='#')
        span.icon-th-large
        | 500.000 Đ - 1.000.000 Đ (27)
    li
      a(href='#')
        span.icon-th-large
        | 1.000.000 Đ - 2.000.000 Đ (27)
    li
      a(href='#')
        span.icon-th-large
        | Trên 2.000.000 Đ (9)